.chart-bar {
    height: 100%;
    width: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-bar__inner {
    height: 100%;
    width: 100%;
    border: 1px solid chocolate;
    border-radius: 12px;
    background-color: chocolate;
    box-shadow: inset 0 0 5px #0000008f;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.chart-bar__fill {
    background-color: darkred;
    border-radius: inherit;
    width: 100%;
    transition: all 0.3s ease-out;
    /* Shadows: */
    -moz-box-shadow: inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow: inset 0 0 5px #000000;
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.15);
    -ms-filter: 'progid:DXImageTransform.Microsoft.Blur(PixelRadius=5,MakeShadow=true,ShadowOpacity=0.15)';
    transform: scale();
}

.chart-bar__label {
    font-weight: bold;
    font-size: 0.8rem;
    text-align: center;
}
