.links_filter {
    position: relative;
    top: 0;
    left:calc(20vw - 5px);
    background-color: chocolate;
    padding: 1vw;
    margin-bottom: 1vw;
    width: 30vw;
    min-width: 500px;
    height: 5vh;
    font:inherit;
    font-size: 1.5vw;
    border: 5px solid chocolate;
    border-radius: 5px;
    transform: scale();
    /* Centering texts in a div: */
    justify-content: center;
    align-items: center;
    display: inline-block;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  }
  
  .links_filter_controls {
    position: relative;
    top:0px;
    display: flex;
    width: 100%;
    height: 90%;
    /* Centering texts in a div: */
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }
  
  .links_filter label {
    font-weight: bold;
    margin: 0.5rem;
    /* Centering texts in a div: */
    justify-content: center;
    align-items: center;
  }
  
  .links_filter select {
    font: inherit;
    padding: 0.2rem 1rem;
    font-weight: bold;
    border-radius: 6px;
    /* Centering texts in a div: */
    justify-content: center;
    align-items: center;
  }