body {
    margin: 0;
    padding: 0;
    background-color: rgb(173, 150, 102);
    color: azure;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgb(250, 231, 167);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
   display: flex;
   /*background-color: brown;*/ 
   text-align: center; 
   align-items: center;
   justify-content: center;
}


